{#
/**
 * @file
 * Profile Article Issue Footer block.
 */
#}
{% set catch_cache = content|render %}
{% if nids_in_issue %}
    <section class="russom-example__article-issue-footer">
        {% set issue_pub_date = issue_publication_date|date('U')|format_date('mon_year') %}
        <div class="container">
            <h3 class="russom-example__title-label">{{ 'Also in this Issue'|t }}</h3>
            <h4 class="russom-example__title-label">{{ issue_pub_date }}</h4>
            <div class="russom-example__layout--two-column russom-example__article-issue-footer__block">
                <div class="russom-example__col-one--med russom-example__article-teaser--reverse">
                    {% for node in nids_in_issue|slice(0,2) %}
                        {{ drupal_entity('node', node.id, node.view_mode) }}
                    {% endfor %}
                </div>
                <div class="russom-example__col-two--med russom-example__article-teaser--reverse">
                    {% for node in nids_in_issue|slice(2,2) %}
                        {{ drupal_entity('node', node.id, node.view_mode) }}
                    {% endfor %}
                </div>
            </div>
            <a href="{{ issue_url }}" class="russom-example__link--reversed">{{ 'View Full Issue'|t }}</a>
        </div>
    </section>
{% endif %}
